<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html lang="en-US">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/BasicTheme.css">
    <link rel="stylesheet" href="/assets/css/Navbar.css">
    <link rel="stylesheet" href="/assets/css/Home.css">
    <script src="/app/components/home/home.js"></script>
    <script src="/app/shared/shared.js"></script>
    <script src="/app/shared/games/GetGamesService.js"></script>
    <script src="/app/shared/authentication/AuthInterceptor.js"></script>
    <script src="/app/shared/authentication/CheckIfAuthenticatedService.js"></script>
    <script src="/app/shared/logout/LogoutService.js"></script>
    <script src="/app/components/home/HomeCtrl.js"></script>
<body ng-app="home" ng-controller="HomeCtrl">
<div >
    <nav class="navbar navbar-inverse">
        <div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Game Store</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <select class="form-control" id="selectSearchCriteria" ng-model="selectSearchCriteria">
                            <option value="id">By Id</option>
                            <option value="name">By Name</option>
                            <option value="genre">By Genre</option>
                        </select>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search Game" ng-model="searchCriteria">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="searchForGame()">Search</button>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="getRandomGames()"><a href="#" ><span class="glyphicon glyphicon-star"></span> Get Random Games </a></li>
                <li><a href="/app/components/signUp/signup.html" ng-show="!isLogged()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/app/components/login/login.html" ng-show="!isLogged()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="../adminPanel/adminPanel.html" ng-show="isLogged()"><span class="glyphicon glyphicon-plus"></span> Admin Panel</a></li>
                <li><a class="btn" ng-click="logout()" ng-show="isLogged()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</div>

    <div class="container">
        <section id="MainHeader">
            <div class="jumbotron" >
                <div id="HeaderText">
                    <h1>WhatToPlay</h1>
                    <p>Here you can find all the gameJsonDtos currently available in our store.</p>
                </div>
            </div>
        </section>
        <div>
            <div class="row">
                <div id="GameBlock">
                    <div ng-repeat="game in games track by $index">
                        <div class="col-sm-3 col-md-4" style="padding-bottom: 15px">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h2 class="text-center">{{ game.gameName }}</h2>
                                    <div class="GameImageWrapper" >
                                        <img class="GameImage btn" ng-click="goToTheGameDetails(game.gameId)" data-ng-src="{{ game.gameImage }}">
                                    </div>
                                    <h3 class="text-center">Genre: {{ game.genre }}</h3>
                                    <h3 class="text-center">Price: {{ game.price }}$</h3>
                                    <h3 >
                                        <a class="btn btn-primary center-block" id="details" ng-click="goToTheGameDetails(game.gameId)" >
                                            <span class="glyphicon glyphicon-triangle-right" /></span> Details
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>

