/* 
    Created on : 2017-07-18, 11:52:02
    Author     : Andrzej
*/

body {
    /*background-image: url("../img/background2.jpg");
    background-size: cover; */
    background-color: #80CBC4;
}


#header{
    background-color: transparent; 
}

#details{
    background-color: #333;
    border-color: #080808;
}