<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPanel</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/BasicTheme.css">
    <link rel="stylesheet" href="/assets/css/Navbar.css">
    <link rel="stylesheet" href="/assets/css/Home.css">
    <link rel="stylesheet" href="/assets/css/MaterialButtons.css">
    <script src="/app/components/home/home.js"></script>
    <script src="/app/shared/shared.js"></script>
    <script src="/app/shared/games/GetGamesService.js"></script>
    <script src="/app/shared/authentication/AuthInterceptor.js"></script>
    <script src="/app/shared/authentication/CheckIfAuthenticatedService.js"></script>
    <script src="/app/shared/logout/LogoutService.js"></script>
    <script src="/app/components/home/HomeCtrl.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/app/components/home/home.html">Game Store</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/app/components/home/home.html">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li>
                <form class="navbar-form navbar-left" role="search">
                    <select class="form-control" id="selectSearchCriteria" ng-model="selectSearchCriteria">
                        <option value="id">By Id</option>
                        <option value="name">By Name</option>
                        <option value="genre">By Genre</option>
                    </select>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Game" ng-model="searchCriteria">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="searchForGame()">Search</button>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/app/components/signUp/signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/app/components/login/login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a class="btn" ng-click="logout()" ng-show="isLogged()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            <li><a href="#" ng-show="isLogged()"><span class="glyphicon glyphicon-plus"></span> Admin Panel</a></li>
        </ul>
    </div>
</nav>
<div class="container" id="admin-panel-body">
    <div id="buttons" class="wrapper" >
        <div class ="row" id="first-row">
            <div >
                <a href="/app/components/addGame/addGame.html">
                    <button type="button" class="btn btn-primary material-btn orange ">
                            <span class="glyphicon glyphicon-plus"></span>Add Game
                    </button>
                </a>
                <a href="/app/components/updateGame/updateGame.html">
                    <button type="button" class="btn btn-primary material-btn orange">
                        <span class="glyphicon glyphicon-zoom-in"></span> Update Game
                    </button>
                </a>
                <button type="button" class="btn btn-primary material-btn orange">
                    <span class="glyphicon glyphicon glyphicon-trash"></span> Delete Game</button>
            </div>
        </div>
        <div class ="row" id="second-row">
            <div >
                <button type="button" class="material-btn orange ">
                    <span class="glyphicon glyphicon-user"></span> Add User</button>
                <button type="button" class="material-btn orange">
                    <span class="glyphicon glyphicon-question-sign"></span> Update User</button>
                <button type="button" class=" material-btn orange">
                    <span class="glyphicon glyphicon-remove-sign"></span> Delete User</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>