<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/css/BasicTheme.css">
        <link rel="stylesheet" href="/assets/css/login.css">
        <link rel="stylesheet" href="/assets/css/popUps.css">
        <script src="signup.js"></script>
        <script src="SignUpCtrl.js"></script>
        <script src="SendUserDataService.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/app/components/home/home.html">Game Store</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/app/components/home/home.html">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <select class="form-control" id="selectSearchCriteria" ng-model="selectSearchCriteria">
                            <option value="id">By Id</option>
                            <option value="name">By Name</option>
                            <option value="genre">By Genre</option>
                        </select>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search Game" ng-model="searchCriteria">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="searchForGame()">Search</button>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/app/components/login/login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="/app/components/addGame/addGame.html"><span class="glyphicon glyphicon-plus"></span> Add Some Games</a></li>
            </ul>
        </div>
        </nav>
    <div class="container" id="signup-panel" ng-app="signup">
    	<div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="#" class="active" id="login-form-link">Sign Up</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                    <div class="panel-body" ng-controller="SignUpCtrl">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="signup-form"  style="display: block;">
                                        <div class="popup" ng-model="wrongUsername"   >
                                            <span class="popuptext" id="usernamePopup" ng-class="wrongUsername ? 'show' : ''">Username should be between 2 and 32 characters</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="username" id="username" required ng-model="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                        </div>
                                        <div class="popup" ng-model="wrongPassword"  >
                                            <span class="popuptext" id="myPopup" ng-class="wrongPassword ? 'show' : ''">Password should be between 2 and 64 characters</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" id="password" required ng-model="password" tabindex="2" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" ng-model="email" tabindex="3" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" ng-click="signup()" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login"  value="Sign Up">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
